<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>AJuDE | Crowdfunding</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="crowdfunding, doação, vaquinha">
    <meta name="keywords" content="Uma plataforma de crowdfunding gratuita feita para você!">
    <link rel="stylesheet" href="../styles/campaigns.css">
    <script src="../services/userService.js" type="module"></script>
</head>
<body>
    <!-- NAVBAR -->
    <header class="main-header">
        <nav id="navbar">
            <ul id="navbar-ul">
                <li id="inicio-btn">
                    <a href="../index.html">inicio</a>
                </li>
                <li id="campaigns-btn"> 
                    <a href="campaigns.html">campanhas</a> 
                </li>
                <li id="register-btn"> 
                    <a href="register.html">criar conta</a>
                </li>
                <li id="login-btn"> 
                    <a href="login.html">login</a>
                </li>
                <li id="create-campaign-btn">
                    <a href="create-campaign.html">lançar campanha</a>
                </li>
                <li id="profile-btn">
                    <a href="profile.html" id="logo-btn">
                        <img src="../styles/img/profile.png" alt="Profile">
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="aux-div">
        <br>
    </div>

    <!-- FORMULÁRIO -->
    <section id="register-form-section">
        <div id="container-login">
            <h2>Campanhas</h2>
            
        </div>
    </section>  
    
    <!-- RODAPÉ -->
    <footer class="center-footer">
        <div class="sub-footer">
            <div id="text-footer">
                <span class="">
                    <p>Copyright © 2019 AJuDE, Inc.</p>
                </span>
            </div>
        </div>
    </footer>
    <script>
        hideContent();

        /**
         * Exclui os botões de criar conta e login e cria o de perfil quando o usuário está logado
         */
        function hideContent() {
            let $login = document.querySelector("#login-btn");
            let $register = document.querySelector("#register-btn");
            let $profile = document.querySelector("#profile-btn");

            // Usuário está logado
            if (localStorage.getItem("token") != null) {
                $login.style.display = "none";
                $register.style.display = "none";
                $profile.style.display = "block";
            } else {
                $profile.style.display = "none";
                $login.style.display = "block"
                $register.style.display = "block"
            }
        };
    </script>
</body>
</html>