* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    background-color: #F6F6F6;
}

h2 {
    text-align: center;
    font-weight: 500;
    font-size: 37px;
    color: #777;
    margin: 4px;
}

.main-header {
    position: inherit;
    padding-top: 20px;
    width: 100%;    
    height: 60px;
    background-color: #4a8fda;
    background: linear-gradient(to right, #39409E, #4a8fda) no-repeat 00 / cover;
    opacity: 100%;
    position: absolute;
}

.main-header a {
    color: white;
    text-decoration: none;
}

.main-header a:hover {
    border-bottom:3px solid #F8F8F8;
}
.main-header ul{    
    display: flex;
    justify-content: center;
    list-style: none;
}

.main-header ul li {
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px;
    display: inline;
    color: #f8f8f8;
    text-decoration: none;
}

.main-header li:first-child a{
    text-transform: uppercase;
    border-color: white;
    margin-right: 70px;
    color: white;
    
}

.main-header li:nth-child(5) a{
    border-color: white;
    padding: 7px;   
    color: white;
    border: 1px solid #F8F8F8;
}

.main-header li:nth-child(5) a:hover {
    background-color: #F8F8F8;
    padding: 7px;   
    color: #131415;
    border: 1px solid #F8F8F8;
}

#aux-div {
    height: 50px;
    background-color: #4a8fda;
    padding-top: 30px;
    width: 100%;   
}

#container-campaigns {
    margin: 30px 0%;
    text-align: center;
}

#campaigns-list {
    border: 2px;
    border-color: #555;
}

#campaigns-search {
    margin-top: 5px;
    height: 200px;
}

#campaigns-search form{
    box-sizing: flex;
    height: 60px;
    padding: 30px 30px;
    display: block;
    margin: 0 auto;
}

#campaigns-search input{
    width: 80%;
    height: 30px;
    display: flexbox;
    margin: 0 auto;
    padding: 13px 20px;
    padding-top: 20px;
    border-radius: 4px;
    border: none;
    font-size: 20px;
    color: #4a4a4a;
}

#search-btn {
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-top: 0px;
    padding: 18px;
    color: #eeeeee;
    background-color: #4a8fda;
}
footer {
    padding: 2px 0;
    background-color: #4a8fda;
    bottom: 0%;
    position: absolute;
    width:100%;
}

#launch-div button:hover{
    background-color: #CCC;
}

#text-footer {
    text-align: center;
    color: #F8F8F8;
    font-size: 13px;
}

#profile-btn {
    padding: 0px;
}

#profile-btn img{
    height: 42px;
}