* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    background-color: #F8F8F8;
}

h2 {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    color: #777;
    margin: 8px;
}

.main-header {
    position: inherit;
    padding-top: 20px;
    width: 100%;    
    height: 60px;
    background-color: #4a8fda;
    opacity: 100%;
    position: absolute;
}

.main-header a {
    color: white;
    text-decoration: none;
}

.main-header a:hover {
    border-bottom:3px solid #F8F8F8;
}
.main-header ul{    
    display: flex;
    justify-content: center;
    list-style: none;
}

.main-header ul li {
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px;
    display: inline;
    color: #f8f8f8;
    text-decoration: none;
}

.main-header li:first-child a{
    text-transform: uppercase;
    border-color: white;
    margin-right: 70px;
    color: white;
    
}

.main-header li:nth-child(5) a{
    border-color: white;
    padding: 7px;   
    color: white;
    border: 1px solid #F8F8F8;
}

.main-header li:nth-child(5) a:hover {
    background-color: #F8F8F8;
    padding: 7px;   
    color: #131415;
    border: 1px solid #F8F8F8;
}

#aux-div {
    height: 50px;
    background-color: #131415;
    padding-top: 30px;
    width: 100%;    
}

#register-form-section {
    margin-top: 20px;
    margin-bottom: 80px;
}

#register-form-section p{
    text-align: center;
    font-size: 14px;
    color: #666;
}

.submit-form {
    margin: 20px 35%;
}

.submit-form .form-group {
    padding-bottom: 15px;
}

.submit-form label {
    font-size: 15px;
    display: block;
    padding-bottom: 8px;
    color: #666;
}

.submit-form input[type="text"], input[type="password"], input[type="number"] {
    padding: 7px;
    width: 100%;
    margin-bottom: 5px;
}

.submit-form select {
    font-size: 15px;
    display: inline;
    padding-bottom: 8px;
    color: #666;
    padding: 7px;
}

.submit-form button {
    background-color: #4a8fda;
    color: #F8F8F8;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
}

.submit-form button:hover {
    background-color: #3A7ECA;
    padding: 10px 15px;
    font-size: 16px;
}

footer {
    padding: 2px 0;
    background-color: #4a8fda;
    position: static;
    bottom:0;
    width:100%;
}

#text-footer {
    text-align: center;
    color: #F8F8F8;
    font-size: 13px;
}

.load {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 45%;
    color: #F8F8F8;
}

#profile-btn {
    padding: 0px;
}

#profile-btn img{
    height: 42px;
}