* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F8F8;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.main-header {
    position: inherit;
    padding-top: 20px;
    width: 100%;    
    height: 60px;
    background-color: #21051F;
    opacity: 80%;
    position: fixed;
}

.main-header a {
    color: white;
    text-decoration: none;
}

.main-header a:hover {
    border-bottom:3px solid #F8F8F8;
}
.main-header ul{    
    display: flex;
    justify-content: center;
    list-style: none;
}

.main-header ul li {
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px;
    display: inline;
    color: #f8f8f8;
    text-decoration: none;
}

.main-header li:first-child a{
    text-transform: uppercase;
    border-color: white;
    margin-right: 70px;
    color: white;
    
}

.main-header li:nth-child(5) a{
    border-color: white;
    padding: 7px;   
    color: white;
    border: 1px solid #F8F8F8;
}

.main-header li:nth-child(5) a:hover {
    background-color: #F8F8F8;
    padding: 7px;   
    color: #131415;
    border: 1px solid #F8F8F8;
}

#aux-div {
    height: 50px;
    background-color: #21051F;
    padding-top: 30px;
    width: 100%;   
}

#wallpaper-section div {
    background-color: #f8f8f8;
    margin-top: 50px;
    height: 340px;
    text-align: center;    
}

#wallpaper-section img {
    margin: 0 auto;
    display: block;
    image-resolution: cover;
}

#wallpaper-section a {
    padding: 7px;
    background-color: #4a8fda;
    color: #e8e8e8;
    text-transform: uppercase;
    text-decoration: none;
    border-style: none;
    font-size: 14px;
}

#wallpaper-section a:hover {
    padding: 7px;
    background-color: #4a8fda;
    color: #e8e8e8;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
}

#wallpaper-div {
    background-color: #F8F8F8;
}

#launch-section {
    background-image: url(./img/ideia.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: #4a8fda;
    height: 370px;
    text-align: center;
}

#launch-div button{
    font-size: 22px;
    text-transform: uppercase;
    position: inherit;
    margin: 0 auto;
    margin-top: 200px;
    padding: 25px;
    border-style: none;
}


footer {
    padding: 2px 0;
    background-color: #21051F;
}

#launch-div button:hover{
    background-color: #CCC;
}

#text-footer {
    text-align: center;
    color: #F8F8F8;
    font-size: 13px;
}

#profile-btn {
    padding: 0px;
}

#profile-btn img{
    height: 42px;
}